{% extends 'base.html.twig' %}

{% block title %}IMC calculator{% endblock %}

{% block body %}

<section id="Subscribes" class="subscribes section-padding">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-5">
                <form name="form_contato" method="post">
                    <div class="subscribe wow fadeInDown" data-wow-delay="0.3s">
                        <input type="number" min="0.5" step=".1" class="form-control" name="peso" placeholder="Seu peso atual">
                        <input type="number" min="0.5" step=".1" class="form-control" name="altura" placeholder="Sua altura em cm">
                        <button class="btn-submit" type="submit"><i class="lni-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
